/* font style */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800px;
    font-size: 28px;

    nav ul {
        display: flex;
    }
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.btn-primary {
    font-weight: bold;
    color: rgb(13, 19, 33);
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 5px;


}

/* banner styles */

.banner {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 1920px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');

}

.banner-content {

    position: absolute;
    width: 998px;
    height: 581px;
    left: 221px;
    right: 221px;
    top: 157px;
    bottom: 4507px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

}

.banner-description {
    position: static;
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 25px 0px;
    text-align: center;
}

.btn-second {
    position: static;
    width: 244px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
    border-radius: 8px;

    font-weight: bold;
    color: aliceblue;
    background-color: black;

}

/* Why web development */

.section {
    position: absolute;
    width: 1140px;
    height: 1395px;
    left: 148px;
    right: 152px;
    top: 857px;
    bottom: 2993px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    text-align: center;

}

.section-text-container {
    position: static;
    width: 852px;
    height: 52px;
}

/* banner 1 styles */

.section-text {
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 48px;

}

.section.banner {
    position: static;
    width: 477px;
    height: 219px;
    padding-right: 30px;
}

.picture {
    width: 259.56px;
    height: 217.01px;
}

/* banner 2 styles */

.section-text2 {
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
}


.section-banner2 {
    position: static;
    width: 477px;
    height: 219px;
    padding-left: 50px;
}

.picture2 {
    position: static;
    width: 240px;
    height: 240px;
}

/* banner 3 styles */

.section-text3 {
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 48px;
}

.section-banner3 {
    position: static;
    width: 850px;
    height: 240px;
    padding-right: 30px;
}

.picture3 {
    position: absolute;
    width: 206.4px;
    height: 187.32px;
}